*
{
	margin: 0;
	padding: 0;

}

body
{
	background-color: purple;
	padding: 15px;
	font: 100% normal Arial, Helvetica, sans-serif;
}

form
{
	text-align: left;
	width: 800px;
	margin-top: 20px;
	border: 1px solid black;
}

div.box
{
	margin: 0;
	background: white;
	position: center;
	border: 1px solid #262626;
	padding: 40px;
}
div.lewa p
{
padding-top: 4px;
}
div.prawa p
{
padding-top: 4px;
}
p.adres
{
padding-top: 100px;
display: block;
}
p.starter
{
padding-top: 50px;
padding-left: 20px;
display: block;
}
div.box h1
{
	padding: 10px;
	text-align: center;
}
div.lewa
{
padding-left: 10px;
width: 40%;
float: left;
}
div.prawa
{
width: 40%;
float: right;
padding-right: 10px;
}
#email
{
clear:both;
}
#adres
{
clear:both;
}
input.starter
{
margin-left: 5px;
}
#sponsor
{
margin-right: 35px;
float: right;
}
#starter
{
float: left;
}
#regulamin
{
font-weight: bolder;
clear: both;
padding-top: 15px;
}

input.pole
{
	font-color: gray;
   -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 5px;
    vertical-align:top;
    border:1px solid darkblue;
    height:27px;
    background:#fff;
    font-size:13px;
    font-family:'Open Sans', sans-serif;
    color:#666;
    display:block;
    width:100%;
}


label
{
	padding: 10px;
	display: block;
}
#guzik
{
padding-top: 10px;
padding-left: 5px;
}
#wyslij
{
width: 60px;
height: 40px;
color: white;
font-family: inherit;
font-size: 17px;
border-radius: 7px;
background-color: darkgray;
}
#wyslij:hover
{
background-color: gray;
}
#wyslij:active
{
background-color: red;
}
